
#wrapper{
    width:90%;
    height:500px;
    border:1px solid #ccc;
    
}
input[type=range] {
-webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}